// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
html {
  height: 100vh;
  width: 100vw;
  background-color: rgb(73, 84, 128);
  body {
    height: 100%;
    width: 100%;
    background-color: rgb(73, 84, 128);
    display: flex;
    justify-content: center;
  }
  h2 {
    color: white;
  }
  img {
    height: 300px;
  }
}
